@import "partials/colors";
@import "partials/variable";
@import "partials/mixins";
@import "partials/common";
body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2550px;
  scroll-behavior: smooth;
  font-family: $raleway;
}

header {
  .main-header {
    background: $white;
    @include transistion-four;
    padding: 6px 170px;
    .header-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .logo-box {
        width: 280px;
        img {
          max-width: 100%;
        }
      }
      .main-header-items {
        .header-bar {
          width: 22px;
          position: relative;
          span {
            width: 100%;
            height: 1px;
            background: $black;
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.home-slider-main {
  position: relative;

  .swiper {
    width: 100%;
    height: 100vh;
    max-height: 889px;
    @media (max-width: 991px) {
      height: 70vh;
    }
    @media (max-width: 767px) {
      height: 60vh;
    }
  }
  .swiper-slide {
    position: relative;
    height: 100vh;
    max-height: 889px;
    @media (max-width: 991px) {
      height: 70vh;
    }

    @media (max-width: 767px) {
      height: 60vh;
    }
    .slide-bg {
      width: 100%;
      height: 100%;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slider-content-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .contant-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100vh;
        max-height: 889px;
        @media (max-width: 991px) {
          height: 70vh;
          width: 90%;
          padding: 0 40px;
        }

        @media (max-width: 767px) {
          height: 60vh;
          padding: 0 40px;
        }

        .content-inner-box {
          max-width: 680px;
          margin: 0px auto;
          @media (min-width: 992px) and (max-width: 1200px) {
            margin-top: 70px;
          }
          @media (max-width: 991px) {
            width: 90%;
            margin-top: 90px;
          }
          h2 {
            color: $logo-red;

            font-size: 80px;
            font-style: normal;
            font-weight: 800;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 0px;
            @include breakpoint(max-xxl) {
              font-size: 42px;
              line-height: 45px;
            }
            @include breakpoint(max-xl) {
              font-size: 35px;
              line-height: 37px;
            }
            @include breakpoint(max-lg) {
              font-size: 25px;
              line-height: 27px;
            }
            @include breakpoint(max-md) {
              font-size: 20px;
              line-height: 22px;
            }
          }

          span {
            display: block;
            text-align: center;
            font-size: 48px;
            line-height: 1;
            color: $black;
            @include breakpoint(max-xxl) {
              font-size: 35px;
            }
            @include breakpoint(max-xl) {
              font-size: 30px;
            }
            @include breakpoint(max-lg) {
              font-size: 20px;
            }
            @include breakpoint(max-md) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.robotica-main {
  padding: 160px 0;
  background: $white;

  @include breakpoint(max-xxl) {
    padding: 90px 0;
  }
  @include breakpoint(max-xl) {
    padding: 80px 0;
  }
  @include breakpoint(max-lg) {
    padding: 60px 0;
  }
  @include breakpoint(max-md) {
    padding: 45px 0;
  }

  .robotica-grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    min-height: 600px;
  }

  .single-grid {
    position: relative;
    .grid-bg {
      width: 100%;
      height: 100%;
    }

    &:nth-child(1) {
      grid-area: 1 / 1 / 3 / 2;
    }

    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    &:nth-child(3) {
      grid-area: 2 / 2 / 3 / 3;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: #0e0e0e;
      opacity: 0.45;
      @include transistion-four;
    }
    h4 {
      color: $white;
      text-transform: uppercase;
      position: absolute;
      left: 0px;
      bottom: 30px;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 20px;
      font-weight: 700;
      font-family: $raleway;
    }
    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: $black;
      color: $white;
      width: 100%;
      font-size: 14px;
      font-family: $raleway;
      font-weight: 400;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: normal;
      i {
        margin-left: 15px;
        font-size: 12px;
        color: $logo-red;
      }
    }
    &:hover {
      &::before {
        height: 0;
      }
    }
  }
}

.servizi-main {
  background: $logo-red;
  padding: 360px 0;
  @include breakpoint(max-xxl) {
    padding: 120px 0;
  }
  @include breakpoint(max-xl) {
    padding: 100px 0;
  }
  @include breakpoint(max-lg) {
    padding: 80px 0;
  }
  @include breakpoint(max-md) {
    padding: 60px 0;
  }

  .content-box {
    margin-bottom: 80px;

    @include breakpoint(max-xxl) {
      margin-bottom: 60px;
    }
    @include breakpoint(max-xl) {
      margin-bottom: 50px;
    }
    @include breakpoint(max-lg) {
      margin-bottom: 40px;
    }
    @include breakpoint(max-md) {
      margin-bottom: 30px;
    }

    h1 {
      font-size: 36px;
      font-family: $raleway;
      font-weight: 700;
      line-height: normal;
      color: $white;
      text-transform: uppercase;
      border-bottom: 1px solid $white;
      padding-bottom: 3px;
      margin-bottom: 25px;

      @include breakpoint(max-xxl) {
        font-size: 32px;
      }
      @include breakpoint(max-xl) {
        font-size: 30px;
        margin-bottom: 15px;
      }
      @include breakpoint(max-lg) {
        font-size: 25px;
      }
      @include breakpoint(max-md) {
        font-size: 22px;
      }
    }
    h2 {
      font-size: 20px;
      color: $white;
      font-weight: 400;
      line-height: normal;
      letter-spacing: normal;
      font-family: $raleway;
      margin-bottom: 15px;
      @include breakpoint(max-lg) {
        font-size: 18px;
      }
    }
    article {
      p {
        font-size: 15px;
        font-family: $raleway;
        font-weight: 400;
        color: $white;
      }
    }
  }

  .servizi-grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding-left: 50px;

    @include breakpoint(max-xxl) {
      gap: 85px;
    }
    @include breakpoint(max-xl) {
      gap: 70px;
      padding-left: 40px;
    }
    @include breakpoint(max-lg) {
      gap: 50px;
      padding-left: 30px;
    }
    @include breakpoint(max-md) {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      padding-left: 0;
    }
    @include breakpoint(max-sm) {
      grid-template-columns: 1fr;
      gap: 20px;
      padding-left: 0;
    }
    .single-grid {
      .icon {
        margin-bottom: 15px;
        img {
          max-width: 100%;
        }
      }
      h3 {
        font-size: 13px;
        color: $white;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 0;
      }
      h4 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: $white;
      }
    }
  }
}

.mission-main {
  padding: 100px 0;
  background: $white;

  @include breakpoint(max-xxl) {
    padding: 70px 0;
  }
  @include breakpoint(max-xl) {
    padding: 60px 0;
  }
  @include breakpoint(max-lg) {
    padding: 50px 0;
  }
  @include breakpoint(max-md) {
    padding: 45px 0;
  }

  .title-box {
    border-top: 1px solid $logo-red;
    padding-top: 70px;

    @include breakpoint(max-xl) {
      padding: 50px 0;
    }
    @include breakpoint(max-lg) {
      padding: 40px 0;
    }
    @include breakpoint(max-md) {
      padding: 30px 0;
    }

    h2 {
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 400;
      font-family: $raleway;
      line-height: 1;
      color: $black;
    }
  }
  .content-box {
    border-top: 1px solid $black;
    padding-top: 70px;
    margin-left: 50px;
    @include breakpoint(max-xl) {
      padding: 50px 0;
    }
    @include breakpoint(max-lg) {
      padding: 40px 0;
      margin-left: 40px;
    }
    @include breakpoint(max-md) {
      padding: 30px 0;
      margin-left: 30px;
    }
    @include breakpoint(max-sm) {
      margin-left: 0;
    }
    h5 {
      font-size: 21px;
      font-family: $raleway;
      color: #4b4b4b;
      font-weight: 400;
      margin-bottom: 20px;
    }
    h6 {
      color: #c60303;
      font-size: 15px;
      line-height: normal;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      line-height: normal;
      font-weight: 700;
      color: $black;
      margin-bottom: 20px;
    }
  }
}

.fourty-black-bg {
  background: #373737;
  height: 400px;
}

.fourty-bg {
  height: 815px;
  .content-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    background: #dfdfdf;
    padding: 35px 35px 90px 35px;
    margin-top: -103px;
    position: relative;
    z-index: 1;
    .left-box {
      width: 350px;
    }
    .right-box {
      flex: 1;
    }
  }
}
